@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Tangerine:wght@700&display=swap"); /*upload fonts here */

* {outline: 1px dashed #ccc;}

html, body, main, header {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}