@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Lora&family=Tangerine:wght@700&display=swap'); /*upload fonts here */

* {outline: 1px dashed #ccc;}

html, body, main, header {
    height: 100%;
    width: 100%;
}

main {
    background-color: rgb(240, 212, 240);
}

p {
    margin: 1.5em;
    line-height: 1.5em;
    font-family: 'Assistant', sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.main-header {
    width: 100%;
    height: auto;
    display: flex;
}

.main-header > header {
    background-color: rgb(210, 232, 246);
}

.main-header > header > h1 {
    font-family: 'Tangerine', cursive;
    font-size: 90px;
    text-align: center;
    color: rgb(186, 119, 175);
    text-shadow: 4px 4px rgb(0, 0, 0, 0.2);
    margin-top: 20px;
}

.main-header > header > p {
    font-family: 'Lora', serif;
    font-size: 25px;
    text-align: center;
}

.main-bio {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgb(226, 244, 228);
}

.main-bio > h2 {
    font-family: 'Lora', serif;
    font-size: 20px;
    text-shadow: 2px 2px rgb;
    text-align: center;
    margin-top: 20px;
}

.main-bio > p:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 1em;
}

.main-bio > p:nth-child(odd) {
    color: rgb(120, 64, 111);
}

.main-bio > p:nth-last-child(){
    margin-top: 100%;
    margin-bottom: 100%;
}

.main-bio > p > img {
    width: 300px;
    float: left;
    margin: 1em;
    border-radius: 25px;
}